<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
     <!-- 配置 Spring 配置文件的名称和位置 
    ContextLoaderListener监听器通过查找 web 应用初始化参数 contextConfigLocation 来获取 Bean 配置文件的位置.
    contextConfigLocation 的默认值为 /WEB-INF/applicationContext.xml.  -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:applicationContext.xml</param-value>
	</context-param>
	
	<!-- 启动 IOC 容器的 ServletContextListener //配置spring随web容器启动时就创建
	在 web.xml 文件中注册 Spring 提供的 Servlet 监听器ContextLoaderListener
           它会在当前 web 应用被加载时将 Spring 的 ApplicationContext 保存到 ServletContext 对象中. -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
